.footer {
    background-color: rgba(211, 201, 201, 0.5);
    padding: 0.1px;
    color: rgb(243, 222, 222);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-link {
    color: rgb(122, 5, 5);
    text-decoration: none;
    margin: 0 10px;
   
  }
  
  .footer-link:hover {
    color: #ff483d;
  }